@import '../../styles/variables.scss';

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    @include flex;
    width: 15rem;
    height: 3rem;
    gap: 1rem;
    border-radius: 0.5rem;
    border: none;
    background: $primary-button-color;
    letter-spacing: .1rem;
    cursor: pointer;

    &:hover {
        color: $text-color;
    }

    &:active {
        transform: scale(0.99);
    }

    .button-title {
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
        flex: 75%;
    }

    .button-icon {
        @include flex;
        height: 100%;
        flex: 25%;
        background: $primary-button-icon-color;
        color: $text-color;
        border-radius: 0.5rem 0 0 0.5rem;
    }
}